body{
    background-color: #F4F4F4;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(160, 160, 160, 0.3);
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 6vh;
    background-color: #FFFFFF;
}
h1, h2, h3, p, .bouton-font{
    color: #3C3B3B;
    font-family: "Raleway", Helvetica, sans-serif;
}

h1{
    padding: 20px;
    font-size: 15px;
}
h2{
    font-weight: 800;
    font-size: 20px;
}
h3{
    font-size: 10px;
    margin: 2vh 0;
}
p{
   color: #646464;
   cursor: initial;
   font-size: 12px;
}
.about{
    font-weight: 800;
    font-size: 12px;
}
u, .pointiller{
    text-decoration: underline dotted;
}
.texte-hover:hover{
    color: #2EBAAE;
    text-decoration: none;
    cursor: pointer;
}

button{
    cursor: pointer;
}
.bouton-navbar{
    height: 6vh;
    width: 15vw;
    font-size: 20px;
    border: none;
    border-left: 1px solid rgba(160, 160, 160, 0.3);
    background-color: transparent;
}
.bouton{
    background-color: transparent;
    border: 2px solid rgba(160, 160, 160, 0.3);
    height: 10vh;
    width: 55vw;
    margin: 40px 0;
    font-weight: 800;
}
.bouton:hover{
    color: #2EBAAE;
    border-color: #2EBAAE;
}
.bouton-retour{
    color: rgba(160, 160, 160, 0.3);
    background-color: transparent;
    border: 2px solid rgba(160, 160, 160, 0.3);
    height: 10vh;
    width: 55vw;
    font-weight: 800;
    cursor: auto;
}
.bouton-lireplus{
    height: 7vh;
}

.grande-div{
    border: 1px solid rgba(160, 160, 160, 0.3);
    border-top: transparent;
    padding-top: 10vh;
}
.div-blog{
    background-color: #FFFFFF;
    margin-bottom: 5vh;
    border-top: 1px solid rgba(160, 160, 160, 0.3);
    border-bottom: 1px solid rgba(160, 160, 160, 0.3);
}

.barre-div{
    width: 55vw;
    border-top: 1px solid rgba(160, 160, 160, 0.3);
}
.raccourcie{
    border-bottom: 1px dotted rgba(160, 160, 160, 0.3);
    display: flex;
}
.raccourcie-dernier{
    border-bottom: none;
}
.petit-blog{
    margin: 5vh 0;
    border: 0.5px solid rgba(160, 160, 160, 0.3);
    background-color: #FFFFFF;
}

img{
    margin: 20px;
    cursor: pointer;
}
.image-div-presentation{
    width: 10vw;
}
.image-icone{
    border-radius: 20px;
    margin: 10px;
    margin-top: 0;
}
.div-image-blog{
    margin-top: 4vh;
}
.image-blog{
    margin: auto 0;
    width: 100%;
    transition: 0.4s;
}
.image-blog:hover{
    transform: scale(1.1);
}

.div-hidden{
    overflow: hidden;
}
.div-image-raccourcie{
    margin: 2vh 2vw;
}
.image-petit-blog{
    width: 100%;
    margin: 0;
    transition: 0.4s;
}
.image-petit-blog:hover{
    transform: scale(1.1);
}
.texte-blog{
    padding: 2vh 20vw;
    text-align: justify;
    line-height: 4vh;
    font-size: 18px;
}
.texte-about{
    line-height: 3.5vh;
    font-size: 15px;
}
.texte-titre{
    padding: 0 20vw;
    text-align: center;
    line-height: 4vh;
}
.petit-blog-titre{
    font-size: 12px;
    font-weight: 800;
}
.petit-blog-date{
    font-size: 10px;
    font-weight: 700;
}
.espace-lettre{
    letter-spacing: 4px;
}
.texte-petit-blog{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
}
.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ligne-blog{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45vw;
}
.color-grisclair{
    color: rgb(160, 160, 160);
}
.margin-fin{
    margin: 2vh auto;
    display: flex;
    justify-content: space-around;
}
.credit{
    margin-top: 4vh;
    display: flex;
    justify-content: center;
}